@{
    ViewBag.pagina_r = 221;
    ViewBag.carpeta_r = 200;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <a href="@Url.Action("Archivo", "Excel")">
            <i class='material-icons green-text'>archive</i>FORMATO ARCHIVO
        </a>
    </div>

    <div class="row">
        <div class="row" style="height:10px;width:100%;">
            <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
            <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                <div class="col l8 orange" style="height:10px;padding:0;"></div>
                <div class="col l1 red" style="height:10px;padding:0;"></div>
            </div>
            <div class="col l2 yellow" style="height:10px;padding:0;"></div>
        </div>
    </div>

    <div class="row">
        <div class="row col s10 m10 l10">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Seleccionar archivo</span>
                    <input type="file" name="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Archivo a subir">
                </div>
            </div>
        </div>
        <div class="row col s2 m2 l2">
            <input type="submit" value="Subir carga" class="btn btn-default btn-large" />
        </div>
    </div>
}

@using (Html.BeginForm("Soportes", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="row col s10 m10 l10">
        <div class="file-field input-field">
            <div class="btn">
                <span>Seleccionar archivo</span>
                <input id="file2" type="file" multiple name="file2">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Archivo a subir">
            </div>
        </div>
    </div>
    <div class="row col s2 m2 l2">
        <input type="submit" value="Subir carga" class="btn btn-default btn-large" />
    </div>
</div>
}



