@{
    //ViewBag.Title = "WorkPlace";
    ViewBag.pagina_r = 101;
    ViewBag.carpeta_r = 100;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">
        @using (Html.BeginForm("Index", "Paginas"))
        {
            <label>
                <input type="radio" name="uno" value="Uno"/>
            </label>
            <label>
                <input type="radio" name="uno" value="Dos" checked="checked"  />
            </label>
            <input type="submit" value="nviar" class="btn" />
        }
    </div>*@
<div class="row">
    <form id="form1" runat="server">
        <div class="row">
            <div class="input-field col s6 m2 l2">
                <input id="documento" type="text" class="validate" />
                <label id="lbl_doc" for="documento">No. documento</label>
                <script>
                    document.getElementById('lbl_doc').innerHTML = "@ViewBag.Title";
                </script>
            </div>
            <div class="input-field col s6 m2 l2">
                <input id="date_ini" type="text" class="datepicker" onkeyup="borrar(this);" />
                <label for="date_ini">Fecha inicio</label>
            </div>
            <script>
                function borrar(field) {
                    field.value = "";
                }
            </script>
            <div class="input-field col s6 m2 l2">
                <input id="date_fin" type="text" class="datepicker2" />
                <label for="date_fin">Fecha fin</label>
            </div>
            <script>
                var elem = document.getElementById('date_ini');
                var options = {
                    //format: 'mmm dd, yyyy'
                    format: 'dd/mm/yyyy'
                };
                var instance = M.Datepicker.init(elem, options);
                var elem2 = document.getElementById('date_fin');
                var instance2 = M.Datepicker.init(elem2, options);
            </script>
            <div class="input-field col s6 m3 l3">
                <input id="cliente" type="text" class="validate" />
                <label for="cliente">Cliente</label>
            </div>
            <link href="~/Content/autocomplete.css" rel="stylesheet" />
            <script src="~/Scripts/autocomplete1.10.2.js"></script>
            <script src="~/Scripts/autocomplete1.11.4.js"></script>
            <script>
                $(document).ready(function () {
                    $("#cliente").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "../Listas/Clientes",
                                type: "GET",
                                dataType: "json",
                                data: { Prefix: request.term },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return { label: item.KUNNR + " - " + item.NAME1, value: item.KUNNR };
                                    }))
                                }
                            })
                        },
                        messages: {
                            noResults: "", results: ""
                        }
                    });
                })
            </script>
            <div class="input-field col s6 m3 l3">
                <input id="agente" type="text" class="validate" />
                <label for="agente">Agente</label>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="row">
                </div>
            </div>
        </div>
        
        <div style="display:none;">
            <div class="row">
                <ul id="coll_1" class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>Provisiones
                            <span class="badge">
                                <a id="btn_pro" class="waves-effect waves-light btn-floating btn-small" href="@Url.Action("Index", "Provision")"><i style="width: 2.5rem;margin:0;" class="material-icons">add</i></a>
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Agente</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>100011</td>
                                        <td>09/02/2018</td>
                                        <td>9901 Nueva Walmart de México</td>
                                        <td>G110 Francisco Maldonado</td>
                                        <td>$ 85 000.00</td>
                                    </tr>
                                    <tr>
                                        <td>100012</td>
                                        <td>10/02/2018</td>
                                        <td>8888 Tiendas Chedraui</td>
                                        <td>G110 Francisco Maldonado</td>
                                        <td>$ 60 000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row">
                <ul id="coll_2" class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header">
                            <i class="material-icons">place</i>Notas de crédito
                            <span class="badge"><a class="waves-effect waves-light btn-floating btn-small"><i style="width: 2.5rem;margin:0;" class="material-icons">add</i></a></span>
                        </div>
                        <div class="collapsible-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Agente</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>100011</td>
                                        <td>09/02/2018</td>
                                        <td>9901 Nueva Walmart de México</td>
                                        <td>G110 Francisco Maldonado</td>
                                        <td>$ 85 000.00</td>
                                    </tr>
                                    <tr>
                                        <td>100012</td>
                                        <td>10/02/2018</td>
                                        <td>8888 Tiendas Chedraui</td>
                                        <td>G110 Francisco Maldonado</td>
                                        <td>$ 60 000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row">
                <ul id="coll_3" class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header">
                            <i class="material-icons">whatshot</i>Ordenes de pago
                            <span class="badge"><a class="waves-effect waves-light btn-floating btn-small"><i style="width: 2.5rem;margin:0;" class="material-icons">add</i></a></span>
                        </div>
                        <div class="collapsible-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Agente</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>100011</td>
                                        <td>09/02/2018</td>
                                        <td>9901 Nueva Walmart de México</td>
                                        <td>G110 Francisco Maldonado</td>
                                        <td>$ 85 000.00</td>
                                    </tr>
                                    <tr>
                                        <td>100012</td>
                                        <td>10/02/2018</td>
                                        <td>8888 Tiendas Chedraui</td>
                                        <td>G110 Francisco Maldonado</td>
                                        <td>$ 60 000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            var elem = document.getElementById('coll_1');
            var options = {
                accordion: false
            }
            var instance = M.Collapsible.init(elem, options);
            var elem2 = document.getElementById('coll_2');
            var options = [];
            var instance2 = M.Collapsible.init(elem2, options);
            var elem3 = document.getElementById('coll_3');
            var options = {
                accordion: false
            }
            var instance3 = M.Collapsible.init(elem3, options);
        </script>
    </form>
</div>
