
@{
    ViewBag.Title = "Pais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form runat="server">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="row">
            </div>
        </div>
        <div class=" col s12 m6 l8">
            <div class="row">
                <div class="col s12 m6 l4">
                    @*<asp:ImageButton ID="mx" runat="server" ImageUrl="images/flags/1x1/mx.svg" CssClass="circle" Height="100px" Width="100px" />*@
                    @*<img src="~/images/flags/1x1/mx.svg" class="circle" style="height:100px;width:100px;" />*@
                    <input type="image" src="~/images/flags/1x1/mx.svg" class="circle" style="height:100px;width:100px;" onclick="location.href='@Url.Action("Index", "Home", new {pais="mx"})';return false;" />
                </div>
                <div class="col s12 m6 l4">
                    <input type="image" src="~/images/flags/1x1/pr.svg" class="circle" style="height:100px;width:100px;" onclick="location.href='@Url.Action("Index", "Home", new {pais="pr"})';return false;" />
                </div>
                <div class="col s12 m6 l4">
                    <input type="image" src="~/images/flags/1x1/ec.svg" class="circle" style="height:100px;width:100px;" onclick="location.href='@Url.Action("Index", "Home", new {pais="ec"})';return false;" />
                </div>
            </div>
        </div>
    </div>
</form>

